@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.my-swal-title-class {
  font-size: 18px;
}

.black-shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}

.inset-black-shadow {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.bg-gray {
  background-color: rgb(43, 47, 51);
}

.input-none {
  border: none;
  background-color: transparent;
  outline: none;
}

.text-opencars {
  color: #0071b8;
}

.bg-opencars {
  background-color: #0071b8;
}

.btn-opencars {
  color: white;
  background-color: #0071b8;
}

.btn-opencars:hover {
  color: white;
  background-color: #0072b887;
}

.app-router-padding {
  /*  padding: 0 100px 0 100px; */
}
